button {
    background-color: blueviolet; border-radius: 30%;
}

#heading {
    font-family: 'Mountains of Christmas', cursive;
    color: black;
}

#change {
    font-family: 'Vujahday Script', cursive;
}

h2{
    font-family: 'Shizuru', cursive;
}